
<div class="page-container">
<!-- HEADER DESKTOP-->
 <header class="header-desktop">
  <div class="section__content section__content--p30">
      <div class="container-fluid">
          <div class="header-wrap">
              <form class="form-header" action="" method="POST">
                  <!-- <input class="au-input au-input--xl" type="text" name="search"
                      placeholder="Search for datas &amp; reports..." /> -->
                  <!-- <button class="au-btn--submit" type="submit"> -->
                      <!-- <i class="zmdi zmdi-search"></i> -->
                  <!-- </button> -->
              </form>
              <div class="header-button">
                  <div class="noti-wrap">
                      <div class="noti__item js-item-menu">
                          <!-- <i class="zmdi zmdi-comment-more"></i> -->
                          <!-- <span class="quantity">1</span> -->
                          <div class="mess-dropdown js-dropdown">

                          </div>
                      </div>
                      <div class="noti__item js-item-menu">
                       
                          <div class="email-dropdown js-dropdown">
                        
                          </div>
                      </div>
                      <div class="noti__item js-item-menu">
                          <!-- <i class="zmdi zmdi-notifications"></i>
                          <span class="quantity">3</span> -->
                          <div class="notifi-dropdown js-dropdown">

                          </div>
                      </div>
                  </div>
                  <h3>Welcome Mr. &nbsp;</h3>
                  <div class="account-wrap">

                      <div class="account-item clearfix js-item-menu">
                          <div class="image">

                              <img src="http://shinobi-software.com/images/geek.png" alt="user" />
                          </div>
                          <!-- <div class="content">
                              <a  (click)="showDropdown()" class="js-acc-btn" href="#">User</a>
                          </div> -->
                          <div class="account-dropdown js-dropdown">
                              <div class="info clearfix">
                                  <div class="image">
                                      <a href="#">
                                          <img src="http://shinobi-software.com/images/geek.png"
                                              alt="user" />
                                      </a>
                                  </div>
                                  <div class="content">
                                      <h5 class="name">
                                          <a href="/dashboardd">user</a>
                                      </h5>
                                      <span class="email">user@gariyasi.com</span>
                                  </div>
                              </div>
                              <div class="account-dropdown__body">
                                  <div class="account-dropdown__item">
                                      <a href="#">
                                          <i class="zmdi zmdi-account"></i>Account</a>
                                  </div>
                                  <div class="account-dropdown__item">
                                      <a href="#">
                                          <i class="zmdi zmdi-settings"></i>Setting</a>
                                  </div>
                                  <div class="account-dropdown__item">
                                      <a href="#">
                                          <i class="zmdi zmdi-money-box"></i>Billing</a>
                                  </div>
                              </div>
                              <div class="account-dropdown__footer">
                                  <a href="#">
                                      <i class="zmdi zmdi-power"></i>Logout</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>

</div>
<!-- HEADER DESKTOP-->