<div class="row">
  <div class="col-md-12">
      
  </div>
</div>


<div class="row m-t-25">
  <div class="col-sm-6 col-lg-3">
      <div class="overview-item overview-item--c1">
          <div class="overview__inner">
              <div class="overview-box clearfix">
                  <div class="icon">
                      <i class="zmdi zmdi-shopping-cart"></i>
                  </div><br>
                  <div class="text">
                      <h2>{{totalproducts}}</h2>
                      <span>Total stocks</span>
                  </div>
              </div>
              <div class="overview-chart">
                  <canvas id="widgetChart1"></canvas>
              </div>
          </div>
      </div>
  </div>
  <div class="col-sm-6 col-lg-3">
      <div class="overview-item overview-item--c2">
          <div class="overview__inner">
              <div class="overview-box clearfix">
                  <div class="icon">
                      <i class="zmdi zmdi-check"></i>
                  </div>
                  <div class="text">
                      <h2>{{nontamper}}</h2>
                      <span>Successfull delivered</span>
                  </div>
              </div>
              <div class="overview-chart">
                  <canvas id="widgetChart2"></canvas>
              </div>
          </div>
      </div>
  </div>

  <div class="col-sm-6 col-lg-3">
      <div class="overview-item overview-item--c3">
          <div class="overview__inner">
              <div class="overview-box clearfix">
                  <div class="icon">
                      <i class="zmdi zmdi-block"></i>
                  </div>
                  <div class="text">
                      <h2>{{tamper}}</h2>
                      <span>Tampered products</span>
                  </div>
              </div>
              <div class="overview-chart">
                  <canvas id="widgetChart3"></canvas>
              </div>
          </div>
      </div>
  </div>
  <div class="col-sm-6 col-lg-3">
      <div class="overview-item overview-item--c4">
          <div class="overview__inner">
              <div class="overview-box clearfix">
                  <div class="icon">
                      <i i class="fas fa-rupee-sign"></i>
                  </div>
                  <br>
                  <div class="text">
                      <h2>0</h2>
                      <span>total earnings</span>
                  </div>
              </div>
              <div class="overview-chart">
                  <canvas id="widgetChart4"></canvas>
              </div>
          </div>
      </div>
  </div>
</div>